<table class="uk-table">
    <caption>Images</caption>
    <tbody>
        <tr>
            <td>{{image}}</td>
            <td>
                <ul>
                    <li>{{location}}</li>
                    <li>{{description}}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>