<div uk-grid>
    <video autoplay loop muted playsinline uk-cover>
        <source src="https://quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4">
        <source src="https://quirksmode.org/html5/videos/big_buck_bunny.ogv" type="video/ogg">
    </video>
    
    <div>
        <div class="uk-card uk-card-default uk-width-1-2@m">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">App Name</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Catchy opening line</p>
            </div>
            <div class="uk-card-footer">
                <a href="/app/views/signin.hbs" class="uk-button uk-button-text">Log In</a>
                <a href="/app/views/search.handlebars" class="uk-button uk-button-text">Search</a>
            </div>
        </div>
    </div>
</div>