<nav class="uk-navbar-container content" uk-navbar>

    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/app/views/search.handlebars">Home</a></li>
        </ul>

    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Menu</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="/dashboard">Profile</a></li>
                        <li class="uk-active"><a href="/search">Search</a></li>
                        <li class="uk-active"><a href="/splash">Log out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div uk-grid>
    <form class="uk-search uk-search-default uk-inline uk-width-1-1">
        <input class="uk-search-input" id="search" type="search" placeholder="Search...">
        <div class="uk-margin">
            <div uk-form-custom="target: true">
                <select id="option">
                    <option value="location">Location</option>
                    <option value="season">Season</option>
                    <option value="3">Option 03</option>
                    <option value="4">Option 04</option>
                </select>
                <span></span>
            </div>
        </div>
        <button class="uk-button uk-button-default" type="button">Search</button>
    </form>
</div>
<div ukgrid>
    {{#each table}}
    {{> data-block}}
    {{/each}}
</div>