
{{#if errors}}
    {{#each errors}}
    <div>{{msg}}</div>
    {{/each}}
{{/if}}


<form class="uk-form-stacked" id="signin" name="signin" method="post" action="signin">
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Email</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="email" id="signinEmail" type="text" placeholder="janedoe@email.com">
        </div>
    </div>
        <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Password</label>
        <div class="uk-form-controls">
            <input class="uk-input" name="password" id="signinPsw" type="password" placeholder="...">
        </div>
    </div>
    <button class="uk-button uk-button-default btn" type="submit" value="Sign In">Sign in</button>
</form>
<center>
<a href="/signup"><button class="uk-button uk-button-default btn">Sign up</button></a>
</center>