<div>
    <video autoplay loop muted>
        <source src="../public/img/Feather-11168.mp4" type="video/mp4" />
    </video>

    <img class="overlay" src="" alt="">
    <p class="overlay">Capture a moment and show others how to do the same</p>
</div>