<!DOCTYPE html>
<html>
    <head>
        <title>Project 2</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

 <link href="/app/public/assets/css/styles.css" rel="stylesheet">
    
  
        <link rel="stylesheet" href="css/uikit.min.css" />
       
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
    <body style="background-image: url(https://i.makeagif.com/media/5-27-2014/5Il8Ki.gif); color:white;">

       
        {{{body}}}
    </body>
    {{footer}}
</html>