<!DOCTYPE html>
<html>
    <head>
        <title>Project 2</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD:views/layouts/main.handlebars
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
=======

    

        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        
     
        <script src="https://code.jquery.com/jquery.js"></script>
>>>>>>> dc211d78cd85b459bd2ecb4d04ce45c2d09a045b:app/views/layouts/main.handlebars

    </head>
    <body>
        {{body}}
    </body>
</html>